<h1>Welcome to Sam's Forum of Many Interesting Topics</h1>

<p style="color: red;"><%= @message %></p>

<form action="/users/login" method="POST">
  <input type="text" name="email"><br>
  <input type="password" name="password"><br>
  <input type="submit" value="Log In">
</form>