<h1>Topics</h1>
<ul>
	<% @topics.each do |topic| %>
		<li><%= topic["topic"] %> &mdash; comments <%= topic["popular"] %>
			<form action="/topics" method="POST">
				<input type="hidden" name= <%= topic["topic"] %>>
  			<input type="submit" value="Comments">
			</form>
		</li>
	<% end %>
</ul>

<form action="/topics" method="POST">
	<input type="text" name = "new_topic" >
  <input type="submit" value="ADD A TOPIC!">
</form>